.box{
	width: 520px;
	height: 280px;
	position: relative;
	overflow: hidden;
}
.box li{
	float: left;
}
#ul1{
	position: absolute;
	transition:all 0.5s;
}
#ul2{
	position: absolute;
	bottom: 0;
	left: 45%;
}
#ul2 li{
	width: 15px;
	height: 15px;
	background: #D8D4D4;
	border-radius: 50%;
	margin-left: 5px;
}
#ul2 .active{
	background: #EB5C03;
}
#prev,#next{
	text-decoration: none;
	line-height: 80px;
	text-align: center;
	position: absolute;
	top: 40%;
	display: inline-block;
	z-index: 99;
	width: 80px;
	height: 80px;
	background: rgba(0, 0, 0, 0.3);
}
#prev i,#next i{
	color:#fff;
	font-size: 32px;
}
#next{
	right: 0;
}