.nav{
	width: 100%;
	height: 30px;
	background: #f40;
	font-size: 14px;
	color:#fff;
}
.nav_wrap{
	width: 1190px;
	height: 30px;
	margin:0px auto;
}
.nav li:first-child{
	width: 160px;
	height: 30px;
	background: red;
	text-align: center;
}
.nav li{
	display: inline-block;
	line-height: 30px;
	padding: 0 8px;
	font-weight: 700;
}
/* 橙色全屏导航条 */

.main{
	width: 100%;
	background: #f5f5f5;
	font-size: 12px;
}
.main_inner{
	width: 1190px;
	height: 632px;
	margin:0px auto;
	position: relative;
}
.main_inner_list {
	width: 174px;
	border:1px solid #f40;
	overflow: hidden;
	border-top: none;
}
.main_inner_list li{
	width: 155px;
	height: 32px;
	line-height: 32px;
	color:#666;
	padding-left: 25px;
	font-size: 14px;
}
.main_inner_list li:hover{
	color: #f40;
	background: #ffe4dc;
	display: block;
}
.main_inner_banner{
	margin:10px;
	height: 490px;
}
.bt{
	width: 690px;
	height: 280px;
}
.btr img{
	margin-left: 10px;
}
.bb{
	width: 690px;
	height: 200px;
	margin-top: 10px;
}
.bbl{
	width: 510px;
	height: 100%;
	background: #fff;
	margin:2px;
}
.bbl img{
	margin:6px;
}
/* 左边列表和中间轮播图 */

.headline{
	width: 875px;
	height: 99px;
	position: absolute;
	bottom: 10px;
	left: 0;
	font-size: 12px;
	background: #fff;
}
.headline p{
	word-wrap: break-word;
	word-break: normal;
}
.headline_l{
	width: 180px;
	height: 73px;
	margin:20px 0;
}
.headline_r{
	width: 676px;
	height: 73px;
	margin:20px 0;
	padding-right: 10px;
}
.headline_l h3{
	font-size: 32px;
	margin-left: 20px;
}
.headline_l p{
	margin: 10px 0 0 32px;
}
.headline_r img{
	margin-right: 15px;
}
.headline_r h4{
	font-size: 16px;
}
.headline_r span{
	font-size: 12px;
}
.headline_r p{
	margin-top: 10px;
	line-height: 16px;
}
/* 左边列表和轮播图下方的淘宝头条 */



.main_inner_login{
	width: 302px;
	background: #fff;
	margin-top: 10px;
	font-size: 12px;
}
.main_inner_login a{
	text-decoration: none;
}
.main_inner_login .login{
	height: 150px;
	position: relative;
}
.login img,.login span,.login p,.login_b{
	position: absolute;
}
.login img{
	top: 5px;
	left: 50%;
	margin-left: -25px;
}
.login span{
	top: 60px;
	left: 50%;
	margin-left: -18px;
}
.login p{
	top: 80px;
	left: 15%;
}
.login p a{
	display: inline-block;
	width: 102px;
	height: 17px;
	border-radius: 5px;
	background: #ffe4db;
	line-height: 17px;
	text-align: center;
	color: #ff5000;s
}
.login_b{
	top: 110px;
	font-size: 16px;
	margin-left: 10px;
}
.login_b a{
	width: 92px;
	height: 25px;
	background: #f40;
	display: inline-block;
	text-align: center;;line-height: 25px;
	font-weight: bold;
	border-radius: 5px;
	color:#fff;
}
.tab .tit{
	width: 292px;
	height: 24px;
	padding-top: 10px;
}
.tab .tit li{
	display: inline-block;
	margin:0 11px;
	width: 32px;
	line-height: 20px;
	text-align: center;
}
.tit li:hover{
	font-weight: 700px;
	color:#f40;
	border-bottom: 2px solid #f40;
}
.tab .hide{
	width: 295px;
	height: 65px;
}
.tab .hide li{
	line-height: 22px;
	padding-left: 15px;
}
.tab .hide li:first-child{
	color:#f40;
}
.main_inner_login .list{
	height: 235px;
	border: 3px solid red;
}
.list li{
	width: 72px;
	height: 77px;
	background: red;
	float: left;
	border:1px solid #f5f5f5;
}
.main_inner_login .app{
	height: 125px;
}
.app h4{
	width: 290px;
	height: 25px;
	font-size: 14px;
	font-weight: bold;
	line-height: 30px;
	padding-left: 15px;
}
.app .more{
	padding-right: 10px;
	font-weight: normal;
	font-size: 12px;
}
.app ul{
	margin-left: 15px;
}
.app li{
	width: 32px;
	height: 32px;
	background: yellow;
	display: inline-block;
	margin:10px;
}
/* 右边登录信息一整块 */


.life{
	width: 1190px;
	height: 166px;
	margin:0px auto;
	background: #fff;
	position: relative;
}
.img_wrap{
	height: 24px;
	float: left;
	margin:15px 0 0 15px;
}
.span_wrap{
	display: inline-block;
	margin:25px 0 0 15px;
	color:#999;
}
.life ul{
	margin:0 13px;
}
.life li{
	width: 194px;
	height: 82px;
	float: left;
	margin-top: 25px;
}
.life li img{
	width: 80px;
	height: 80px;
	float: left;
	border: 1px solid #13d0a1;
	border-radius: 50%;
	margin-right: 10px;
}
.life li h4{
	font-size: 16px;
	line-height: 25px;
}
.life li p,.life li p{
	line-height: 22px;
	color:#666;
}
/* 生活研究所 */
.recommend{
	width: 1190px;
	height: 658px;
	margin:0px auto;
	margin-top: 10px;
}
.goods{
	width: 590px;
	height: 658px;
	background: #fff;
}
.goods_img{
	margin:15px 4px 17px 20px;
	width: 160px;
	float: left;
}
.goods_img img{
	height:180px;
	background: #f4f4f4;
}
.goods_img h4{
	font-size: 16px;
	line-height: 28px;
}
.goods_img p{
	color:#666;
	text-align: center;
	line-height: 22px;
}
.goods_img i{
	color:#35b1ff;
	display: block;
	margin-top: 15px;
	height: 22px;
	line-height: 22px;
	margin-left: 15px;
}
.shopping{
	width: 590px;
	height: 658px;
	background: #fff;
}
/* 有好货+爱逛街 */

.hot{
	width: 1190px;
	height: 1450px;
	margin:0 auto;
	background: #fff;
	margin-top: 10px;
}
.hot h3{
	width: 1158px;
	height: 30px;
	font-size: 20px;
	line-height: 30px;
	color:#ff9f00;
	padding:15px 0 10px 15px;
	font-weight: bold;
	border-bottom: 1px solid #f4f4f4;
}
/* 热门信息——响应式图片 */